{{ 'banner-slide.css' | asset_url | stylesheet_tag }}

<div id="BannerSlider">
  <div class="banner_slider--container">
    <div class="banner_slider">
      <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
          {% assign banner_image_desktop = block.settings.banner_image_desktop %}
          {% assign button_text = block.settings.button_text | strip %}
          {% assign button_url = block.settings.button_url | strip %}

          <div class="block_slider swiper-slide">
            <div class="banner_slider--image">
              <img
                class="lazyload"
                src="{{banner_image_desktop | img_url: 'master'}}"
                width="{{banner_image_desktop.width}}"
                style="width: 100%; height: auto;" />
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>

<script>
  var speed = parseInt("{{section.settings.slider_speed}}");
  var delay = parseInt("{{section.settings.slider_delay}}");

  var mySwiper = new Swiper('.banner_slider', {
    direction: 'horizontal',
    speed: speed,
    loop: true,
    autoplay: {
      delay: delay
    },

// Navigation arrows
    navigation: {
      nextEl: '.swiper-button .swiper-button-next',
      prevEl: '.swiper-button .swiper-button-prev'
    }
  });
</script>

{% schema %}
  {
    "name": {
      "en": "Banner image slider"
    },
    "blocks": [
      {
        "type": "image_picker",
        "name": {
          "en": "Banner slider"
        },
        "settings": [
          {
            "type": "header",
            "content": "Image Setting"
          }, {
            "type": "image_picker",
            "id": "banner_image_desktop",
            "label": {
              "en": "Desktop Image"
            }
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "number",
        "id": "slider_speed",
        "info": "in millisecond",
        "default": 600,
        "label": {
          "en": "Slider speed",
          "fr": "vitesse du slide"
        }
      }, {
        "type": "number",
        "id": "slider_delay",
        "info": "in millisecond",
        "default": 5000,
        "label": {
          "en": "Slider delay",
          "fr": "delay du slide"
        }
      }
    ],
    "presets": [
      {
        "name": "Banner slide"
      }
    ]
  }
{% endschema %}